@font-face {
    font-family: 'Marmellata';
    src: url('../assets/fonts/Marmellata\(Jam\)_demo.ttf');
}
/*o google font*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@300;400&display=swap');

*{
    padding: 0;
    margin: 0;
}

body{
    background-color: skyblue;
    /* fuentes básicas */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
    /*Fuentes de google font
    font-family: 'Roboto';
    */
    /* Fuente local agregada
    font-family: 'Marmellata'; 
    */
}

ul{
    list-style: none;
}
a{
    text-decoration: none;
}
#logo1{
    width: 150px;
    padding-right: 20px;
    position: center;
}
p{
    
    margin: 20px 0;
}

.grey{/*creo una clase con solo background para no aplicarlo a todos los card*/
    
    background-color: rgb(209, 209, 209);
}
.fucsia{/*Igual con esta*/
    background-color: rgb(255, 0, 76);
}

.white{/*Igual con esta*/
    background-color: white;
}
.black{/*Igual con esta*/
    background-color: #222222;
}

.circle-icon{ /*Igual con esta*/
    
    border-radius: 50%;
    padding: 10px;
    display: inline-block;
}

.shadow-fucsia{
box-shadow: 0px 5px 0px 0px rgb(255, 0, 76) ;
}


body{
   /*  es mejor este color un blanco no tan blanco
   background-color: #eeebeb;    
   pero para efecto de clonar la imagen usamos ese azul
   */
   background-color: rgb(160, 209, 255);
   padding-top: 90px;
}
#main-header{
    display: flex;
    background-color: white;
    color:black;
    padding: 20px 5%;
    justify-content: space-between;
    align-items: center;
    box-shadow: 2px 5px 5px 1px rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    width: 90%;
    height: 50px; /*para bajarlo a 30px*/
    z-index: 99999;
    transition: 1s ease-in-out;
}
header img {
    height: 50px;
}
header ul{
    display: flex;
}

nav a {
    font-size: 20px;
    padding: 10px;
    color: black;
    
}

nav a:hover { /*Efecto al pasar el mouse*/
   
    color: rgb(255, 0, 76);
    text-decoration:solid;
    
    box-shadow: 0px 2px 0px 0px rgb(255, 0, 76, 0.8);
}

strong{
    color: rgb(255, 0, 76, 0.8);
}

section{
    
    margin: 2%;
    text-align: center;
}

footer{
    text-align: center;
    
    background-color: #222222;
    color:aliceblue;
    padding: 20px;

}  
#first img{
    height:200px;
    width:300px;
}
#first div{
    display: flex;
    padding: 2%;
    flex-direction: column;
    justify-content: center;

}

#first{
    background-color: aliceblue;
    display: flex;
    flex-direction: row;
}
#icon .in{
  align-items: center;
  display: flex;
}


#secundary{
    background-color: aliceblue;
    text-align: center;
    padding: 2.5rem;
}
#secundary h2{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;

}
.profesores img{
    height:200px;
    width: 300px;
    display: flex;
    padding: 2%;
    flex-direction: column;
    justify-content: center;
}
.profesores{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}



#course{
    background-color: white;
    padding:  10% 0 10%;
    text-align: center;
}
.container-flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.card{
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    max-width: 250px;
}

.card.grey a{
    color: rgb(255, 0, 76);
}
.card img{
    border-radius: 15px;
    width: 60%;
    margin: 20px;
    
}


.imagen-centered{
    width: 100%;
}
#section6{
    background-color: rgb(255, 0, 76);
    color: white;
    
    padding: 5% 5% 5% 5%;
}
.buttons{
 border: 1px white solid;
 color: white;
 padding: 5px 25px;
 margin: 5px;
}
.buttons:hover{
    background-color: white;
    color: rgb(255, 0, 76);
    padding: 5px 25px;
    margin: 5px;
    font-weight: bold;
   }

#skill article{
    padding: 10% 10% 0 10%;
}
#skill div.black{
    padding: 10%;
}
#skill div.black p{
    color: white;
}
#skill .card a{
    font-size: 30px;
}

.active{
    color: rgb(255, 0, 76);
}


#third{
    background-color: aliceblue;
    display: flex;
    flex-direction: row;
    padding: 1.5%;
}
#third .div2{
    display: flex;
    padding: 2%;
    flex-direction: column;
    justify-content: center;
}
#third img{
    height:200px;
    width:300px;
}



#fourth{
    text-align: center;
    background-color: black;
    color:white;
    padding: 2rem;
}

.btn1{
    width: 80px;
    background-color: aliceblue;
    color: black;
    cursor: pointer;
}
.btn2{
    width: 80px;
    background-color: fuchsia;
    color: white;
    cursor: pointer;
}
