body{
    background-color: skyblue;}
*{
    padding: 0;
    margin: 0;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
#logo1{
    width: 150px;
    padding-right: 20px;
    position: center;
}
p{
    
    margin: 20px 0;
}

.grey{/*creo una clase con solo background para no aplicarlo a todos los card*/
    
    background-color: rgb(209, 209, 209);
}
.fucsia{/*Igual con esta*/
    background-color: rgb(255, 0, 76);
}

.white{/*Igual con esta*/
    background-color: white;
}
.black{/*Igual con esta*/
    background-color: #222222;
}

.circle{ /*Igual con esta*/
    border-radius: 50%;
}


body{
   /*  es mejor este color un blanco no tan blanco
   background-color: #eeebeb;    
   pero para efecto de clonar la imagen usamos ese azul
   */
   background-color: rgb(160, 209, 255);
}
header{
    display: flex;
    background-color: white;
    color:black;
    padding: 20px 5%;
    justify-content: space-between;
    align-items: center;
    box-shadow: 2px 5px 5px 1px rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    width: 90%;
    z-index: 99999;
}
header img {
    height: 50px;
}
header ul{
    display: flex;
}

nav a {
    font-size: 20px;
    padding: 10px;
    color: black;
    
}

nav a:hover { /*Efecto al pasar el mouse*/
   
    color: rgb(255, 0, 76);
    text-decoration:solid;
    
    box-shadow: 0px 2px 0px 0px rgb(255, 0, 76, 0.8);
}

footer{
    text-align: center;
    
    background-color: #222222;
    color:aliceblue;
    padding: 20px;

}  #first img{
    margin-right: 50rem;
    height:200px;
    width:300px;
 
}

section{
    
    margin: 2%;
    text-align: center;
}

#first{
    background-color: aliceblue;
    margin-top: 120px;
}
#icon .in{
  align-items: center;
  display: flex;
}


#modi{
    text-align: center;
   position: absolute;
   margin-left:20rem ;
}
.modi2{
    text-align: center;
   position: absolute;
   margin-top: 68px;
   margin-left:20rem ; 
}

#secundary{
    background-color: aliceblue;
    text-align: center;
    padding: 2.5rem;
}


#third{
    height: 50vh;
    text-align: center;
}

#course{
    background-color: white;
    padding:  10% 0 10%;
    text-align: center;
}
.container-flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.card{
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
    max-width: 250px;
}

.card.grey a{
    color: rgb(255, 0, 76);
}

.imagen-centered{
    width: 100%;
}
#section6{
    background-color: rgb(255, 0, 76);
    color: white;
    
    padding: 5% 5% 5% 5%;
}
.buttons{
 border: 1px white solid;
 color: white;
 padding: 5px 25px;
 margin: 5px;
}

#gallery article{
    padding: 10% 10% 0 10%;
}
#gallery div.black{
    padding: 10%;
}
#gallery div.black p{
    color: white;
}

.active{
    color: rgb(255, 0, 76);
}


  #third img{
    margin-left: 38rem;
    height: 100%;
}

#third{
    background-color: aliceblue;
    padding: 2rem;
}

#modi3{
    text-align: center;
   position: absolute;
   margin-right:10rem ;
   padding-left:20px;
   padding-top: 10px;
}
.modi4{
   text-align: center;
   position: absolute;
   margin-top: 58px;
   margin-right:20rem ; 
}

#fourth{
    text-align: center;
    background-color: black;
    color:white;
    padding: 2rem;
}

.btn1{
    width: 80px;
    background-color: aliceblue;
    color: black;
    cursor: pointer;
}
.btn2{
    width: 80px;
    background-color: fuchsia;
    color: white;
    cursor: pointer;
}
