*{
    margin: 0;
    padding: 0;
}
html,body{
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
        )
    ,url(img/fondo-degradado.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    height: 100vh;
    width: 100%;
    font-family: 'Roboto', sans-serif
   
}

header{
    background:rgba(54, 25, 185, 0.771);
    color: white;
    text-align: center;
    font-size: 30px;
    width: 100%;
}

.presentacion{
text-align: center;
margin: 20px;
}

h3{
    margin: 20px;
}

.list{
 display: flex;
 flex-flow: column wrap;
 margin: 20px;
}
.btn{
display: flex;
 align-items: center;
height: 50px;
width: 130px;
background-color: rgb(89, 5, 102);
border-radius: 10%;
margin: 5px;
text-align: center;
}

.btn:hover{
background:rgba(10, 176, 241, 0.771) ;
}
a{
text-decoration: none;
color: rgb(255, 255, 255);
}
footer{
    background:rgba(54, 25, 185, 0.771);
     color: white;
     text-align: center;
     position: absolute;
     height: 70px;
     line-height: 50px;
     bottom:0px;
     left: 0;
     width: 100%;
 }
footer section{
    display: flex;
    justify-content: center;
}









