
*{
    padding: 0;
    margin: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh ;
}
.cuadro{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    margin: 20px;
    width: 100px;
    height: 100px;/* 
    background-color: green; */
    background-image: url("/juego-web/asess/img/agujero.png");
    background-size: contain;
}
#contenedor{/* 
    padding-top: 50px; */
    width: 420px;
    display: flex;
    flex-wrap: wrap;
    background-image: url(/juego-web/asess/img/fondo.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin-top:20% ;
}
.topo{
    width: 100px;
    height: 100px;
    display: none;
}
.show{
    display: block;
}

.mostrador{
font-family: 'Courier New', Courier, monospace;
position: absolute;
margin-bottom: 35%;
margin-left: 2%;
background-image:url(/juego-web/asess/img/fondo.jpg);
border-radius: 10%;
padding: 2%;
    
}