*{
    margin:0;
    padding :0;
}
body{
    background-image: url(/juego-web/asess/img/fondo-verde-acuarela.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

section{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px;
}

.login{
   background-color: white;
   color: rgb(0, 44, 10); ;
   text-align: center;
   padding: 20px;
   justify-content: baseline;
   font-size: 20px;
   margin: 20px;
   width: 520px;
   height: 350px;
   border: 4px solid #50ea19;
   border-radius: 50%;
   
}
.login a{
    text-decoration: none;
    color: rgb(46, 140, 2);
    font-size: 20px ;
}


