* {
    padding: 0;
    margin: 0;
    text-decoration: none;
}
a{
  display: inline-block;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(/juego-web/asess/img/fondo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }

.cuadro {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    margin: 20px;
    width: 100px;
    height: 100px;
    /* 
    background-color: green; */
    background-image: url("/juego-web/asess/img/agujero.png");
    background-size: contain;
}

#contenedor {
    /* 
    padding-top: 50px; */
    width: 420px;
    display: flex;
    flex-wrap: wrap;
    background-image: url(/juego-web/asess/img/fondo.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 20px;
}

.topo {
    width: 100px;
    height: 100px;
    display: none;
}

.show {
    display: block;
}

.mostrador {
    font-family: 'Courier New', Courier, monospace;
    width: 100%;
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#marcadores {
    display: flex;
    justify-content: space-around;
    width: 80%;
    padding: 20px 0px;

}

h2 {
    display: block;
}

.boton {
    padding: 5px 15px;
    margin: 15px;
    border: 2px solid #26bb2f;
    border-radius: 15px;
    color: #123f15;
    background-color: #5fff33;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}


/***********MODAL***********/
/* Fondo modal: negro con opacidad al 50% */
.modal {
    display: none; /* Por defecto, estará oculto */
    position: fixed; /* Posición fija */
    z-index: 1; /* Se situará por encima de otros elementos de la página*/
    padding-top: 25vh; /* El contenido estará situado a 200px de la parte superior */
    left: 0;
    top: 0;
    width: 100%; /* Ancho completo */
    height: 100%; /* Algura completa */
    overflow: auto; /* Se activará el scroll si es necesario */
    background-color: rgba(0,0,0,0.5); /* Color negro con opacidad del 50% */
}
  
  /* Ventana o caja modal */
  .contenido-modal {
    position: relative; /* Relativo con respecto al contenedor -modal- */
    background-color: lightsteelblue;
    margin: auto; /* Centrada */
    padding: 30px;
    width: 60%;
    height: 40vh;
    -webkit-animation-name: animarsuperior;
    -webkit-animation-duration: 0.5s;
    animation-name: animarsuperior;
    animation-duration: 0.5s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
  }
/* 
  .contenido-modal img{
    border-radius: 80%;
  } */
 
  /* Animación */
  @-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
  }
  
  @keyframes animarsuperior {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }
  
  /* Botón cerrar */
  .close {
    color: black;
    float: right;
    font-size: 30px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: rgba(0, 0, 0, 0.89);
    text-decoration: none;
    cursor: pointer;
  }

  .img20{
    height: 20vh;
  } 
  