* {
    padding: 0;
    margin: 0;
    
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    background-color: rgb(219, 219, 219);
}

.header {
    width: 100%;
    background-color: rgb(38, 130, 228);
    border-bottom: 2px solid white;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.5);

}

.header div {
    padding: 20px 0;
    display: flex;
    justify-content: space-around;
    color: white;
    text-align: center;
    align-items: center;
    font-weight: bold;
    text-shadow: 0ex 2px 2px black;

}
.header-page{
    display: flex;
    justify-content: space-between;
    margin: 5%;
    width: 90%;
    color: white;
    font-weight: bold;
    text-shadow: 0ex 2px 2px black;
}


.circle{
     border-radius: 50%;
}

.icon-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    height: 40px;
    width: 40px;
    
    cursor: pointer;

}
.valores{
    
    display: flex;
    justify-content: center ;
    align-items: center;
    padding: 0 10%;
}
.marker{
    background-image: url("../assets/img/marker.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 150px;
    font-size:x-large;
    margin-bottom: -3px;
}
.c-white{
    color: white;
    
}

.w-150{
    width: 150px;
}
.x-large{

    font-size:x-large;
}
    
.notebook{
    background-image: url("../assets/img/notebook.png");
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
    min-width: 250px;
    min-height: 250px;
    width: 60%;
    height: 60%;
    padding: 10%;
    font-size:xx-large;
    align-items: normal;
    max-width: 400px;
}

hr{
    border-width: 1px;
    border-style: solid;
    
    width: -webkit-fill-available;

}
footer {
    padding: 5px 0;
    bottom: 0;
    position: fixed;
    width: 100%;
    background-color: rgb(38, 130, 228);
    border-top: 2px solid white;
}

section {
    display: flex;

    flex-direction: column;
    justify-content: center;
    margin: 5px 0px;
}

section div {
    width: 100%;
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

}

.dos-columns {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.align-items-end{
    align-items: flex-end;
}

.w40 {
    width: 40%;
}

h3 {
    color: blue;
    margin: 10px;
    font-size: 20px;
}

.banner {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.boton {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    padding: 15px 20px;/* 
    background: linear-gradient(rgb(15, 185, 241), rgb(12, 12, 143)); */
    border-radius: 15px;
    color: white;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
}

.card {
    display: block;
    margin: 5px;
    padding: 15px 20px;

    background-color: rgb(5, 75, 150);
    border-radius: 10px;
    border: 2px solid rgba(15, 185, 241,.8);
    color: lightblue;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

select {
    border-radius: 50px;
    background-color: #ccc;
    text-transform: uppercase;
    font-weight: bold;
    margin: 15px;
    width: 65%;
    max-width: 400px;
    text-align: center;
    height: 40px;
    color: rgb(6, 6, 139);
    border: 1px solid white;
    box-shadow:
        inset 0px 1px 1px 0px rgba(0, 0, 0, 0.3);
}
.select2{
    background-color: #ffd900;
    color: brown;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-color: brown;
}


.bisel {

    box-shadow:
        0px -1px 1px 1px rgba(0, 0, 0, 0.5),
        0px 5px 5px 0px rgba(0, 0, 0, 0.5),
        inset 0px 2px 2px 3px rgba(255, 255, 255, 0.5);

}
.bisel-fuerte {
    border: 4px solid white;
    box-shadow:
        0px -1px 1px 1px rgba(0, 0, 0, 0.5),
        0px 5px 5px 0px rgba(0, 0, 0, 0.5),
        inset 0px 2px 2px 3px rgba(255, 255, 255, 0.5);

}

.box {
    text-align: center;
    width: 90%;
    padding: 50px 0;
    text-decoration: none;
    font-size: 22px;
    margin: 10px;
    border-radius: 15px;
    color: white;
    font-weight: bold;
}

.spacer {
    min-height: 10px;
    width: 100%;
}
.m-20{
    margin: 20px ;
}
.p-20{
    padding: 20px ;
}
#optiones{display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size:xx-large;
    
}

.option{
    display: flex;
    min-width: 100px;
    min-height: 100px;
    margin: 20px;
    align-items: center;
    justify-content: center;
}





/*/////Backgroud*****/

.white {
    background-color: white;
}
.bg-white {
    background-color: white;
    color:grey
}

.bg-yellow {
    color: white;
    background: linear-gradient(0deg, #ff7b00,#ffd900);
}

.bg-purple{
    background: linear-gradient(#C37DD3, #A865B5);
}
.bg-naranja {
    background: linear-gradient(yellow, orangered);
}

.bg-morado {
    background: linear-gradient(violet, purple);
}

.bg-rojo {
    background: linear-gradient( red,darkred);
}

.bg-verde {
    background: linear-gradient(rgb(0, 215, 0), rgb(1, 70, 1));
}

.bg-marron-oscuro {
    background: linear-gradient(rgb(173, 66, 5), rgb(31, 9, 0));
}

.bg-azul {
    background: linear-gradient(darkcyan, darkblue);
}

.bg-boton {
    
    background: linear-gradient(rgb(15, 185, 241), rgb(12, 12, 143));
}

.bg-primary{
    background-image: url("../assets/img/bg-primary.jpg");
    background-repeat: no-repeat;
    background-size:cover;
}
.bg-secundary{
    background-image: url("../assets/img/bg-secundary.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}


.bg-correct{
    background: linear-gradient(rgb(0, 215, 0), rgb(1, 70, 1));

}
.bg-incorrect{
    background: linear-gradient( red,darkred);

}
.incorrect{
    color: red;

}
.correct{
    color: rgb(0, 215, 0);

}
.modal {
    display: none;
    /* Por defecto, estará oculto */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    /* Posición fija */
    z-index: 1;
    /* Se situará por encima de otros elementos de la página*/
    /* El contenido estará situado a 200px de la parte superior */
    left: 0;
    top: 0;
    width: 100%;
    /* Ancho completo */
    height: 100%;
    /* Algura completa */
    overflow: auto;
    /* Se activará el scroll si es necesario */
    background-color: rgba(0, 0, 0, 0.7);
    /* Color negro con opacidad del 50% */
    
  }
  #tituloModal{
    display: flex;
    color: white;
    text-align: center;
   
  }
  .text-center{
    text-align: center;
  }
  .contenido-modal {
    
    width: 80%;
    height: auto;
    max-width: 500px;
    max-height: 400px;
    -webkit-animation-name: animarsuperior;
    -webkit-animation-duration: 0.5s;
    animation-name: animarsuperior;
    animation-duration: 0.5s;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    justify-content: center  ;
    border-radius: 10px;
    background-color: white;
    color: blue;/* 
    text-align: center; */}
    .w-180{
        width: 180px;
    }
    .boton {
        height: 74px;}
  
  #completeModal {
    display: none;
    flex-direction: column;/* 
    justify-content: center; */
    align-items: center;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);
}

.between{
    justify-content: space-between;
}
.betweenAndHeight{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

  .loader{
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-bottom: 16px solid #3498db;
    border-radius: 50%;
    width:120px;
    height:120px;
    animation: spin 2s linear infinite;
  }
  @keyframes spin{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg); 
    }
  }
/*******MEDIAQUERY PARA RESPONSIVE****************/
@media (min-width:600px) {
    section div {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .box {
        width: 45%;
    }
}

@media (min-width:768px) {
    .box {
        width: 30%;
    }
}

@media (min-width:1024px) {
    .box {
        width: 22.5%;
        /* 
        padding: 50px 0;
        text-decoration: none;
        font-size: 22px;
        margin: 10px;
        border-radius: 15px;
        color: white;
        font-weight: bold; */
    }
}