

<h2 id="tituloModal">PAUSA</h2>
<div class="contenido-modal bg-1">
    <div class="dos-columns between m-20">
        <h3>Música de fondo</h3>
        <!-- Rectangular switch -->
        <label class="switch">
            <input type="checkbox">
            <span class="slider"></span>
        </label>
    </div>
    <hr>
    <div class="dos-columns between m-20">
        <h3>Sonido</h3>
        <!-- Rectangular switch -->
        <label class="switch">
            <input type="checkbox">
            <span class="slider"></span>
        </label>
    </div>

    <hr>
    <a id="btn-reanudar" class="bg-boton boton bisel-fuerte m-20" onclick="reanudar()"><i
            class="fa-solid fa-play"></i></a>
</div>