<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/perfil.css">
    <link rel="stylesheet" href="../css/all.css">
</head>
<body >

    <header class="perfil">
        <h1>Perfil de jugador</h1>
        <section class="display">
            <div class="content">
               <a class="fa-solid fa-user"></a>  
            </div>    
        </section>
        <h2>Usuario</h2>   
    </header>
    <br/>

        <section class="container">
          <div class="tablero">
         <div class="veces-jugadas">
            <a class="fa-solid fa-gamepad"></a>
            <h4>Veces jugadas</h4>
            <p>23</p>
         </div>

            <div class="mas-jugada">
            <a class="fa fa-solid fa-star"></a>
            <h4>Sección más jugada</h4>
            <p>lineal</p>
            </div>

            </div> 

        </section>
    
</body>
</html>
    
    


